.artist-page {
    // width: 100vw;
    // height: 100vh;
    margin: 3vh 3vw;
    display: grid;
    grid-template-columns: 10vw 1fr 1fr 10vw;
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas:
        ". img img ."
        ". main main ."
        ". main main .";
    justify-items: center;

    .artist-image {
        grid-area: img;
        display: grid;
        justify-content: center;

        >img {
            width: 100%;
        }
    }

    .content {
        grid-area: main;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        #event-info {
            display: flex;
            flex-direction: column;
            align-items: center;

            #details {
                display: flex;
                width: 100%;
                justify-content: space-around;
            }

            button {
                border-radius: 6px;
                margin-bottom: 3vh;
            }

            #artist-bio {
                text-align: left;
                border: 1px solid black;
                border-radius: 6px;
                box-shadow: 2px 2px gray;

                p{
                    margin: 0.5vh 0.5vw;
                }
            }
        }
    }
}


// #artist-page {
//     
//

//   
//     .bot {
//         grid-area: bot;

//         p {
//            
//         }
//     }
// }