
.audio-player{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh 1vw;
    border: 1px solid $orange;
    padding: 8px;
    background-color: rgb(49, 49, 49);
    width: fit-content;

    #user-info{
        display: flex;
        align-items: center;
        align-self: center;
        color: $white;

        #headphones-icon{
            display: flex;
            img{
                object-fit: contain;
                margin: 0;

            }
        }
    }

    #audios{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
        width: 100%;

        button{
            width: 50%;
            margin: 2px;
            border-radius: 4px;
            color: $black;
            background-color: $white;  
            &:hover{
                cursor: pointer;
            }
        }

    }
}