.card {
  display: flex;
  justify-content: space-around;
  background: $white;
  max-width: 500px;
   height: auto;
  width: auto;
   margin: 8px auto;
  flex-grow: 1;
  flex: 1 1 0px;


  .header {
      display: none;
    background-size: cover;
      width: 10vw;
      align-items: center;
    img {
      width: 100%;
      object-fit: cover;
         aspect-ratio: 1/1;
      object-position: top center;
    }
  }

  .text {
    display: inherit;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    margin: 1em;

      span.datetime{
         font-size: 17px;
         font-weight: 400;
         color:$gray;
    }

    .title {
         font-weight: 600;
         font-size: 20px;
         color: $orange;
      text-align: left;
      text-transform: uppercase;
      letter-spacing: 0.1em;
         flex-grow: 2;
         margin-bottom: 8px;
    }

      .info{
         margin-bottom: 8px;
         color: $dark
      }

      .ticket-content {
         display: flex;
      color: $gray;
      margin-top: 8px;
         border: 1px solid $gray;
         padding: 4px 8px;
         justify-content:space-between;
         max-width:fit-content; 
         text-transform: uppercase;
         font-size: 14px;

         &__text{
            margin-right: 8px;
         }
         &__text-online{
            color: $error;
            font-weight: 500;
         }
      }
   }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
      background: $orange;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    transition: 250ms;
      border: unset;
      cursor: pointer;
    &:hover {
         background: #d6500d;
      transition: 200ms;
    }
  }
}

.line-break {
  display: block;
   margin: 4px auto;
   border-bottom: 1px solid #8c8c8c55;
   max-width: 90vw;
}

@media screen and (min-width:760px) {
   .card{
      min-width: 600px;
   }

}
@media screen and (min-width: 1024px) {
  .card {
      min-width: 800px;

      .header{
         display: flex;
      }
      .text{
         margin: 1em 2em;
      }
    img {
      max-width: fit-content;
    }
  }

}
@media screen and (min-width:1536px) {
   .card{
      min-width: 1000px;
   }   
   .line-break{
      max-width: 80vw;
   }
}
