

// COLORS
$white: #fff;
$black: #212129;
$gray: #9B9B9B;
$heart: #17BEBB;
$star: #FFE500;
$button: #EF3E36;

* {
   margin: 0;
   padding: 0;
   list-style-type: none;
   text-decoration: none;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -o-box-sizing: border-box;
   box-sizing: border-box;
}

img {
   max-width: 100%;
}

html, body {
   height: 100%;
}

.card {
   position: relative;
   background: $white;
   max-width: 500px;
   margin: 20px auto;
   box-shadow: 0px 0px 30px 2px #000;
   .header {
      background-size: cover;
      min-height: 350px;
         .icon a .fa-heart-o {
         position: absolute;
         left: 85%;
         bottom: 30.7%;
         background: $heart;
         color: $white;
         font-size: 1.3em;
         font-weight: bold;
         padding: 15px;
         border-radius: 50%;
         box-shadow: 0px 5px 30px 1px $heart;
      }
   }
   .text {
      .food {
         color: $black;
         text-align: left;
         font-weight: normal;
         text-transform: uppercase;
         letter-spacing: 0.1em;
         margin: 5px 30px;
      }
      .fa-clock-o {
         color: $gray;
         margin: 0 30px;
      }
      .fa-users {
         color: $gray;
      }
   }

   .info {
      margin: 10px 30px;
   }
   a.btn {
      display: block;
      background: $button;
      color: $white;
      position: relative;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      text-align: center;
      padding: 10px;
      transition: 250ms;
      &:hover {
         background: $heart;
         transition: 250ms;
      }
   }
}