$banner-width: 100%;
@media screen and (min-width: 1536px) {
  $banner-width: 1920px;
  $banner-height: 370px;
}

.carousel {


  width: $banner-width;
  text-align: center;
  align-items: center;
  overflow: hidden;

  position: relative;

  :first-child {
    left: 10%;
  }

  :last-child {
    right: 10%;
  }

  > {
    .scroll-button {
      position: absolute;
      top: 50%;
      z-index: 1;
      text-align: center;

    }

    .index {
      display: inline-flex;
      width: 1.5rem;
      height: 1.5rem;
      background: white;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin: 0 0 0.5rem 0;
      position: relative;

      :active {
        top: 1px;
      }

      :focus {
        background: #000;
      }
    }
  }


  .slides {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-scrolling: touch;
    margin: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 16/9;
      object-position: center center;
    }

    > {

      div {
        scroll-snap-align: center;
        flex-shrink: 0;
        width: $banner-width;
        min-height: 120px;
        height: auto;
        max-height: 370px;
        transform-origin: center center;
        transition: transform 0.5s;
        justify-content: center;

        margin: 0;
      }

    }
  }

}