.card-container{
    background-color: #fff;
    margin: 32px 0;
    padding: 32px 16px;
    border-radius: 6px;
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px 3px;

}
.card-container > h2{
    text-decoration: underline;
}