
//This is an example of how to next css into eachother using scss.

body{
    h1{
      font-family: 'Bevan', cursive;
      
      color: green;
  
      &:hover{
        color: yellow;
      }
    }
    p{
      font-family: 'Heebo', sans-serif;
      color: red;
    }
    
  }
  
  @media screen and (min-width:760px) {

  }
  
  @media screen and (min-width:1024px) {
    
  }