.hamburgerbutton {
    color: black;
    background-color: #659dbd;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(43, 43, 43);
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-radius: 6px;
    margin: 16px 16px 0 16px;
    overflow: hidden;
    text-decoration: none;
    min-height: 32px;
}

.hamburgerbutton>a {
    color: black;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.hamburgerbutton>a>img {
    object-fit: scale-down;

}


#profile {
    background-color: gray;
}

#searchbar {
    background-color: #fafafa;
    margin-bottom: 80px;
}

#modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentTest {
    display: flex;
    justify-content: center;
    flex-direction: row;
}