.hamburgerbutton {
    color: black;
    background-color: #e1b382;
    box-shadow: 3px 3px 3px #a5a5a5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin: 16px 16px 0 16px;
    overflow: hidden;
    text-decoration: none;
    min-height: 32px;


}

.hamburgerbutton>a {
    color: black;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.hamburgerbutton>a>img {
    object-fit: scale-down;

}




#profile {
    background-color: rgb(175, 175, 175);
    box-shadow: none;
    border: 1px solid black;
}

#searchbar {
    background-color: #fafafa;
    margin-bottom: 80px;
    box-shadow: none;
    border: 1px solid black;
}

#modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentTest {
    display: flex;
    justify-content: center;
    flex-direction: row;
}