#home {
    display: flex;
    justify-content: center;
    
    #home-button {
        font-size: 170%;
        background-color: $orange;
        padding: 7px;
        border-radius: 5px;
        font-weight: bolder;
        color: whitesmoke;
        text-decoration: none;
    }
}