#home {
    display: flex;
    justify-content: center;
    
    #home-button {
        font-size: 170%;
        background-color: rgb(37, 36, 36);
        max-width: 100px;
        margin-left: 5vw;
        padding: 0vh 1vw;
        font-weight: bolder;
        color: whitesmoke;
        text-decoration: none;
    }
}