.login-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  .login-form {
    --login-form-width: auto;

    display: flex;
    flex-direction: column;
    position: relative;
    margin: 90px 16px;
    width: var(--login-form-width);
    background-color: #fafafa;
    padding: 32px;
    border-radius: 6px;

    label {
      margin-top: 8px;
      margin-bottom: 4px;
    }

    &__sign-up {
      display: block;
      text-align: center;

      a {
    color: $orange;
      }



  button{
    padding-left: 4px;
    border: none;
    background-color: white;
    color: $orange;

    &:hover{
      color: #d6500d;
      text-decoration: underline;
    }
  }
}

    &__close-btn {
      position: absolute;
      right: 8px;
      top: 8px;
      border: none;
      background-color: unset;
      font-weight: 700;
      font-size: 24px;
  cursor: pointer;
    }

    &__login-error {
  color: $error;
      margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
    }

    @media screen and (min-width: 760px) {
      --login-form-width: 400px;
    }
  }

  overflow: hidden;

}

.login-btn {
  width: 100%;
  margin: 16px 0;
background-color: $orange;
  color: white;
  outline: none;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;

  &:hover {
    filter: brightness(90%);
  }
}

@media screen and (min-width: 760px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1536px) {

}