.searchInputs {
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

.search input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 40px;
    width: 200px;
}

.search {
    display: flex;
    margin-bottom: 12vh;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
}

.searchIcon {
    height: 10px;
    width: 50px;
    background-color: white;
    display: grid;
}

input:focus {
    outline: none;
}

.searchIcon svg {
    font-size: 30px;
}

.dataResult {
    margin-top: 5px;
    width: 65vw;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
    display: none;
}

.dataResult .dataItem {
    display: flex;
    width: 70vw;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
}

.dataItem a {
    color: black;
    margin-left: 8px;
    width: 60vw;
    padding: 8px 0 8px 0;

}

a {
    text-decoration: none;
}

a:hover {
    background-color: lightgrey;
}

#clearBtn {
    cursor: pointer;
}