.searchInputs {
    display: flex;
    justify-content: center;
    height: 40px;
}

.search input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 16px;
    width: 200px;
}

.search {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  position: relative;
    flex-direction: column;
    align-content: center;
}

.searchIcon {
    height: 100%;
    width: 50px;
    background-color: #f6f6f6;
    padding: 8px;
   

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
         
    }
}

input:focus {
    outline: none;
}

.searchIcon svg {
    font-size: 30px;
}

.dataResult {
    width: 250px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    top: 40px;
}

.dataResult::-webkit-scrollbar {
    display: none;
}

.dataResult .dataItem {
    display: flex;
    width: 70vw;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
}

.dataItem a {
    color: black;
    margin-left: 8px;
    width: 60vw;
    padding: 8px 0 8px 0;

}

//a {
//    text-decoration: none;
//}

//a:hover {
//    background-color: lightgrey;
//}

#clearBtn {
    cursor: pointer;
}

.navigation {
    img {
        transform: scale(0.5);
    }
}