.searchInputs {
    display: flex;
    justify-content: center;
    height: 40px;
}

.search input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 16px;
    width: 200px;
}

.search {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    align-content: center;
    margin-top: 3vh;
}

.searchIcon {
    height: 100%;
    width: 50px;
    background-color: #f6f6f6;
    padding: 8px;
   

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
         
    }
    svg {
        font-size: 30px;
    }
}

input:focus {
    outline: none;
}

.dataResult {
    width: 250px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    top: 40px;
    align-self: center;

    .dataItem {
        display: flex;
        width: 70vw;
        height: 50px;
        display: flex;
        align-items: center;
        color: black;

        a {
            color: black;
            margin-left: 8px;
            width: 60vw;
            padding: 8px 0 8px 0;
            

            
                a:hover {
                    background-color: lightgrey;
                }

        }
    }
}

.dataResult::-webkit-scrollbar {
    display: none;
}


#clearBtn {
    cursor: pointer;
}

.navigation {
    img {
        transform: scale(0.5);
    }
}

.toggleBox {
    color: black;
    background-color: #659dbd;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(43, 43, 43);
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-radius: 6px;
}