.quantity-status{
    span{
        text-transform: uppercase;
        color: rgb(131, 130, 130);
        font-size: 16px;
    }
}

@media screen and (min-width:760px) {
}

@media screen and (min-width:1024px) {

}

@media screen and (min-width:1536px) {
 
}