$primary-color:#f6f6f6;

*,
*:after,
*:before {
  font-family: 'Heebo', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1536px;
  padding: none;
  background-color: $primary-color;

  h1, h2, h3, h4, h5 {
    font-family: 'Bevan', cursive;
  }
}

custom-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #000;

  :focus {
    border: 3px solid #555;
  }
}

.custom-button {
  width: 100%;
  // margin: 16px 0;
  background-color: crimson;
  color: white;
  outline: none;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;

  &:hover {
    filter: brightness(90%);
  }
}

@media screen and (min-width:760px) {}

@media screen and (min-width:1024px) {}

@media screen and (min-width:1536px) {}
