$background-color: #e6e6e6;
$white: #F0F0F1;
$yellow: #ffc561;
$light-grey:#ddd;
$gray: #7c7c7c;
$dark: #141417;
$dark-grey: #19191D;
$orange: #f8671f;
$purple: #9000B3;
$error: rgb(194, 0, 0);

*,
*:after,
*:before {
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
}

 * {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
body {
  max-width: 1920px;
  margin: 0 auto;
  background-color: $dark-grey;

  h1, h2, h3, h4, h5 {
    font-family: 'Fira Sans', sans-serif;
    color: $orange;
  }
}

.custom-input {
  width: 100%;
  padding: 8px 16px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #000;

  :focus {
    border: 3px solid #555;
  }
}

.custom-button {
  width: 100%;
  // margin: 16px 0;
  background-color: $orange;
  color: white;
  outline: none;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;

  &:hover {
    filter: brightness(90%);
  }
}

@media screen and (min-width:760px) {}

@media screen and (min-width:1024px) {}

@media screen and (min-width:1536px) {}