$primary-color:#deecfd;


body{
  background-color:$primary-color;
  padding: 3vh 3vw;

  h1{
    font-family: 'Bevan', cursive;
  }
  p{
    font-family: 'Heebo', sans-serif;
  }
  
}

custom-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #000;
    :focus {
      border: 3px solid #555;
    }
  }

.custom-red-btn {
width: 100%;
margin: 16px 0;
background-color: crimson;
color: white;
outline: none;
padding: 8px 16px;
border: none;
border-radius: 6px;
&:hover {
    filter: brightness(90%);
}
}

@media screen and (min-width:760px) {
  body{
    padding: 2vh 2vw;
  }
}

@media screen and (min-width:1024px) {
  body{
    padding: 1.5vh 1.5vw;
  }
}

@media screen and (min-width:1536px) {
  body{
    margin: 0 auto;
    max-width: 1536px;
    padding: none;
  }
  
}

