@import './stylesheets/css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Fira+Sans:wght@300;400;500;600;800&display=swap');
@import './app.scss';
@import './stylesheets/login.scss';
@import './stylesheets/profilePage.scss';
@import './stylesheets/hamburger.scss';
@import './stylesheets/homeButton.scss';
@import './stylesheets/card.scss';
@import './stylesheets/eventPage.scss';
@import './stylesheets/artistPage.scss';
@import './stylesheets/buyButton.scss';
@import './stylesheets/googleMaps/directionButton.scss';
@import './stylesheets/eventDetails.scss';
@import 'stylesheets/carousel.scss';
@import './stylesheets/googleMaps/mapModal.scss';
@import './stylesheets/navigation.scss';
@import './stylesheets/mobileNavigation.scss';
@import './stylesheets/ticket.scss';
@import './stylesheets/orderConfirmation.scss';
@import './stylesheets/ticket.scss';
@import './stylesheets/audioPlayer.scss';
@import './stylesheets/venueDetails.scss';
@import './stylesheets/venuePage.scss';
//Examples for implementing in stylesheets:
//font-family: 'Bevan', cursive;
//font-family: 'Heebo', sans-serif;