@import "./stylesheets/normalize.css";
@import "https://fonts.googleapis.com/css2?family=Bevan&family=Heebo&display=swap&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0";
*,
*:after,
*:before {
  font-family: "Heebo", sans-serif;
  box-sizing: border-box;
}
body {
  display: flex;
  margin: 0 auto;
  max-width: 1536px;
  padding: none;
  background-color: #fafafa;
}
body h1 {
  font-family: "Bevan", cursive;
}
custom-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #000;
}
custom-input :focus {
  border: 3px solid #555;
}
.custom-red-btn {
  width: 100%;
  margin: 16px 0;
  background-color: crimson;
  color: #fff;
  outline: none;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
}
.custom-red-btn:hover {
  filter: brightness(90%);
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.login-form {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 500px;
  margin: 90px 16px;
  background-color: #fafafa;
  padding: 32px;
  border-radius: 6px;
}
.login-form label {
  margin-top: 8px;
  margin-bottom: 4px;
}
.login-form__sign-up {
  display: block;
  text-align: center;
}
.login-form__sign-up a {
  color: crimson;
}
.login-form__sign-up button {
  padding-left: 4px;
  border: none;
  background-color: #fff;
  color: crimson;
}
.login-form__sign-up button:hover {
  color: #ae0000;
  text-decoration: underline;
}
.login-form__sign-up button button {
  padding-left: 4px;
  border: none;
  background-color: #fff;
  color: crimson;
}
.login-form__sign-up button button:hover {
  color: #ae0000;
  text-decoration: underline;
}
.login-form__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  border: none;
  background-color: unset;
  font-weight: 700;
  font-size: 24px;
}
.login-form__login-error {
  color: #ae0000;
  margin-bottom: 8px;
}
.login-btn {
  width: 100%;
  margin: 16px 0;
  background-color: crimson;
  color: #fff;
  outline: none;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
}
.login-btn:hover {
  filter: brightness(90%);
}
body {
  display: flex;
  justify-content: center;
}
body .profile-page {
  display: flex;
  flex-direction: column;
}
body .profile-page #home-link {
  align-self: center;
}
body .profile-page #profile-title {
  display: flex;
  justify-content: center;
}
body .profile-page .profile-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 7vh;
}
body .profile-page .profile-form .form-field {
  display: flex;
  flex-direction: column;
  margin: 1vh 1vw;
  justify-content: center;
}
body .profile-page .profile-form .form-field .field-name {
  flex-grow: 1;
  justify-self: flex-start;
  align-self: left;
  margin-right: 6px;
  margin-bottom: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
body .profile-page .profile-form .form-field .form-input {
  justify-self: flex-end;
  border-radius: 6px;
  height: 3vh;
}
body .profile-page .profile-form .form-field #email {
  background-color: gray;
  border-style: none;
  border: 1px solid #000;
  padding: 2px 2px;
  border-radius: 2px;
}
body .profile-page .profile-form .form-field #email:hover {
  cursor: not-allowed;
}
body .profile-page .profile-form #update {
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
  font-size: 120%;
  margin-bottom: 3vh;
}
body .profile-page #sign-out {
  align-self: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 100%;
}
.hamburgerbutton {
  color: #000;
  background-color: #659dbd;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2b2b2b;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  border-radius: 6px;
  margin: 16px 16px 0 16px;
  overflow: hidden;
  text-decoration: none;
  min-height: 32px;
}
.hamburgerbutton > a {
  color: #000;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.hamburgerbutton > a > img {
  -o-object-fit: scale-down;
  object-fit: scale-down;
}
#profile {
  background-color: gray;
}
#searchbar {
  background-color: #fafafa;
  margin-bottom: 80px;
}
#modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentTest {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#home {
  display: flex;
  justify-content: center;
}
#home #home-button {
  font-size: 170%;
  background-color: #252424;
  max-width: 100px;
  padding: 0vh 1vw;
  font-weight: bolder;
  color: #f5f5f5;
  text-decoration: none;
}
.artist-page {
  margin: 3vh 3vw;
  display: grid;
  grid-template-columns: 10vw 1fr 1fr 10vw;
  grid-auto-rows: minmax(200px, auto);
  grid-template-areas: ". img img ." ". main main ." ". main main .";
  justify-items: center;
}
.artist-page .artist-image {
  grid-area: img;
  display: grid;
  justify-content: center;
}
.artist-page .artist-image > img {
  width: 100%;
}
.artist-page .content {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.artist-page .content #event-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artist-page .content #event-info #upcoming {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: #659dbd;
  margin-bottom: 3vh;
  padding-bottom: 2vh;
}
.artist-page .content #event-info #upcoming > h1 {
  font-size: 100%;
}
.artist-page .content #event-info #upcoming .artist-event {
  display: flex;
  justify-content: space-around;
  border: 1px solid gray;
  background-color: #f6f6f6;
  width: 90%;
}
.artist-page .content #event-info #upcoming .artist-event > p {
  font-size: 70%;
}
.artist-page .content #event-info #artist-bio {
  text-align: left;
}
.artist-page .content #event-info #artist-bio p {
  margin: 0.5vh 0.5vw;
}
