
.direction-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $light-grey;
    border-radius: 6px;
    box-shadow: 3px 3px 3px gray;
    font-size: 110%;
    width:fit-content;
    padding: 6px;
    background-color: $white;

    &:hover{
        cursor: pointer;
    }

    img{
        width: 25px;
        padding-left: 10px;
    }
}
